<a href="mailto:maximdevtool@gmail.com">
    <span class="sr-only">Mail</span>
    <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.66671 27.3333C2.75004 27.3333 1.96532 27.0069 1.31254 26.3542C0.659763 25.7014 0.333374 24.9167 0.333374 24V3.99999C0.333374 3.08332 0.659763 2.2986 1.31254 1.64582C1.96532 0.993045 2.75004 0.666656 3.66671 0.666656H30.3334C31.25 0.666656 32.0348 0.993045 32.6875 1.64582C33.3403 2.2986 33.6667 3.08332 33.6667 3.99999V24C33.6667 24.9167 33.3403 25.7014 32.6875 26.3542C32.0348 27.0069 31.25 27.3333 30.3334 27.3333H3.66671ZM17 15.6667L3.66671 7.33332V24H30.3334V7.33332L17 15.6667ZM17 12.3333L30.3334 3.99999H3.66671L17 12.3333ZM3.66671 7.33332V3.99999V24V7.33332Z" fill="#D5C384"/>
    </svg>    
</a>